@model IEnumerable<Solarsplash_Dataviewer.Models.RunData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            DateAndTime
        </th>
        <th>
            Acrchived
        </th>
        @*<th>
            AcrchivedFileName
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acrchived)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AcrchivedFileName)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
            @Html.ActionLink("Details", "Details", new { id=item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Name })
        </td>
    </tr>
}

</table>
