@model Solarsplash_Dataviewer.Models.RunData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RunData</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">DateAndTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAndTime)
    </div>

    <div class="display-label">Acrchived</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Acrchived)
    </div>

    <div class="display-label">AcrchivedFileName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcrchivedFileName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("See Data", "SeeData", new { id = Model.id })
    @Html.ActionLink("Back to List", "Index")
</p>