@model Solarsplash_Dataviewer.Models.RunData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RunData</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">DateAndTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAndTime)
    </div>

    <div class="display-label">Acrchived</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Acrchived)
    </div>

    <div class="display-label">AcrchivedFileName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcrchivedFileName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<table>
    
    <tr>
        <td>#</td>
        @foreach (Solarsplash_Dataviewer.Models.RunElements.DataLabel label in ViewData.Model.DataLabels)
        {
            <td>@label.LabelName</td>
        }
    </tr>
    
    @foreach (Solarsplash_Dataviewer.Models.RunElement item in ViewData.Model.Runs)
    {
        <tr>
            <td>@item.id</td>
            @foreach (Solarsplash_Dataviewer.Models.RunElements.Data dataItem in item.Data)
            {
                <td>@dataItem.Value</td>
            }
        </tr>
    }
</table>